*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(213, 209, 203);
    width: 100%;
    height: 100vh;
    padding: 10px;
}
header{
    width: 100%;
    padding: 30px;
    background-color: azure;
}
.mainbox{
    margin: 10px 0;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.box-1{
    width: 49.6%;
    height: 500px;
    background-color: azure;
    float: left;
}
.box-2{
    /* margin-left: 10px; */
    width: 49.6%;
    height: 500px;
    background-color: azure;
    float: right;
}
footer{
    width: 100%;
    padding: 30px;
    background-color: azure;
}




